.layoutTop {
	background-image: url(/resources/images/LayoutTopBg.jpg);
	background-repeat: no-repeat;
	background-position: top 0px left 0px;
	background-color: #083CB4;
	background-attachment: fixed;
	width: 100%;
}

.layoutTopMenu {
	padding-right: 0px;
	padding-bottom: 0px;
	font-size: 12px;
	color: #FFFFFF;
}

.layoutLeft {
	background-image: url(/resources/images/LayoutLeftBg.jpg);
	background-repeat: no-repeat;
	background-position: top 100px left 0px;
	background-color: #083CB4;
	background-attachment: fixed;
	padding-top: 150px;
	width: 180px;
	height: 100%;
	vertical-align: top;
}

.layoutLeftMenu {
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	border-top: 1px solid #4462AF;
	width: 150px;
}

.layoutLeftMenuBlank {
	width: 30px;
}

.layoutMain {
	background-image: url(/resources/images/LayoutMainBg.jpg);
	background-repeat: no-repeat;
	background-position: top 100px left 180px;
	background-color: #083CB4;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}

.loginBg {
	background-image: url(/resources/images/LoginBg.jpg);
	background-repeat: no-repeat;
	background-position: top 196px left 308px;
	background-attachment: fixed;
	width: 600px;
	height: 300px;
}

.loginTable {
	border:1px solid #FFFFFF;
}

.loginInputTable {
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 600;
}

.loginInput {
	border: 0px;
	background-color: #CECECE;
	font-size: 16px;
	color: #000000;
}

.loginInputTd1 {
	width: 100px;
	height: 40px;
	padding-top: 3px;
}

.loginInputTd2 {
	width: 100px;
	height: 40px;
}

.loginInputTd3 {
	border-top: 2px solid #FFFFFF;
	padding-right: 15px;
	padding-top: 10px;
}

.loginBtn {
	font-size: 16px;
	font-weight: 600;
	border: 0px; 
	background-color: transparent;
	color: #FFFFFF;
}

.mainBarTable {
	border: 1px solid #18B0F7;
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
}

.mainBarTd {
	background-image: url(/resources/images/MainBarBg.jpg);
	background-repeat: no-repeat;
	width:500px;
	height:25px;
}

.memberTable1 {
	border: 1px solid #18B0F7;
	background-color: #0A24A8;
}

.memberTable2 {
	border: 1px solid #18B0F7;
	border-right: 0px;
	border-bottom: 0px;
	font-size: 12px;
	color: #CFECFD;
	background-color: #071476;
	width: 100%;
}

.memberTd1 {
	border-right: 1px solid #18B0F7;
	border-bottom: 1px solid #18B0F7;
	width: 80px;
	height: 40px;
	padding-left: 15px;
}

.memberTd2 {
	border-right: 1px solid #18B0F7;
	border-bottom: 1px solid #18B0F7;
	height:40px;
}

.memberInput1 {
	font-size: 12px;
	background-color: #CECECE;
	border: 0px;
	margin-right: 5px;
}

.memberInput2 {
	font-size: 12px;
	background-color: #CECECE;
	border: 0px;
}

.memberBtn {
	font-size: 12px;
	border: 0px;
	background-color: transparent;
	color: #CFECFD;
}

.errorPageBg {
	background-image: url(/resources/images/ErrorPageBg.jpg);
	background-repeat: no-repeat;
	background-position: top 196px left 308px;
	background-attachment: fixed;
	width: 600px;
	height: 300px;
}

.errorPageTd {
	width: 500px;
	height: 200px;
	border: 0px;
	border-bottom: 1px solid #FFFFFF;
	font-size: 16px;
	color:#FFFFFF;
	font-weight: 600;
	vertical-align: middle;
}

.errorPageBtn {
	font-size: 16px;
	font-weight: 600;
	border: 0px;
	background-color: transparent;
	color: #FFFFFF;
}

.listMemberTh1 {
	width: 10px;
	border-right: 1px solid #18B0F7;
	border-bottom: 1px solid #18B0F7;
	background-color: #000000;
}

.listMemberTh2 {
	width: 40px;
	border-right: 1px solid #18B0F7;
	border-bottom: 1px solid #18B0F7;
	background-color: #000000;
}

.listMemberTh3 {
	width: 150px;
	border-right: 1px solid #18B0F7;
	border-bottom: 1px solid #18B0F7;
	background-color: #000000;
}

.listMemberTh4 {
	width: 120px;
	border-right: 1px solid #18B0F7;
	border-bottom: 1px solid #18B0F7;
	background-color: #000000;
}

.listMemberTd1 {
	border-right: 1px solid #18B0F7;
	border-bottom: 1px solid #18B0F7;
	text-align: center;
}

.listMemberTd2 {
	border-right: 1px solid #18B0F7;
	border-bottom: 1px solid #18B0F7;
}

.listMemberBtn1 {
	background-image: url(/resources/images/Icon1.png);
	background-repeat: no-repeat;
	background-position: top 2px left 0px;
	background-color: transparent;
	border:0px;
}

.listMemberBtn2 {
	background-image: url(/resources/images/Icon2.png);
	background-repeat: no-repeat;
	background-position: top 2px left 0px;
	background-color: transparent;
	border:0px;
}
